html
  head
    block title
      title ASNetwork
    block styles
      link(rel='stylesheet' type='text/css' href='css/style.css')
    block javascript
      script(language="javascript" src="javascript/bundle.js")
  body.bg-light
    block body
      .p-3.bg-white.shadow-sm
        h4.font-weight-light Your Network